#main_img{
	width: 1190px;
	margin: 0 auto;
}
.id_content{
	position: relative;
}
#web_id{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 400px;
	height: 300px;
}
.close_btn{
	width: 32px;
	height: 32px;
	background: url(images/icon.jpg) -154px -65px no-repeat ;
	position: absolute;
	right: 0;
	top: 0;
}